.vscode/launch.json

__pycache__/cpf.cpython-36.pyc

__pycache__/Relatorios.cpython-36.pyc
__pycache__/db.cpython-36.pyc
response_api.json
query_api.txt
Class/__pycache__/Relatorios.cpython-36.pyc
Class/__pycache__/db.cpython-36.pyc




*.pyc