[MYSQL_R]
host =
user = 
passwd = 
database = 
raise_on_warnings = 

[MYSQL_W]
host = 
user = 
passwd = 
database = 
raise_on_warnings = 

[MANDRILL]
api_key = 
enviados = 

[VIACEP]
consultas = 


[HUBD]
url = 
api_key = 
consultas = 


[SOA]
url = 
user = 
key = 
consultas = 


[COMTELE]
api_key = 5aa20522-7c0a-4562-b25d-70ffc3f27f8e
enviados = 0

[LINK]
link_site = http://beta.megasorte.com
link_de_compra = http://beta.megasorte.com/carrinho?origin=rt
contact_mail = sac@megasorte.com

