env = 
root = 
user = 

[LOGS]
manager_log = ${KEY:root}/logs/manager.log
sdu_log = ${KEY:root}/logs/sdu.log
svc_log = ${KEY:root}/logs/svc.log
sms_log = ${KEY:root}/logs/sms.log
api_log = ${KEY:root}/logs/API.log
startup_log = ${KEY:root}/logs/startup.log
watch_log = ${KEY:root}/logs/watch.log

[FILES]
query = ${KEY:root}/queries/query.txt
responses = ${KEY:root}/responses/response.json
responses_api = ${KEY:root}/responses/response_api.json
responses_sms = ${KEY:root}/responses/response-sms.json

[CONSULTAS]
hd = 0
soa = 0
viacep = 0

[QUERIES]
1 = SELECT  CPFCNPJ, DtNascimento, id, Nome, Cidade, SgUF,CEP FROM cliente where id_status = 0 and (Nome = "" or Nome is NULL) LIMIT 100
2 = SELECT  CPFCNPJ, DtNascimento, id, Nome, Cidade, SgUF,CEP FROM cliente where id_status = 0 order by Nome asc ,id desc LIMIT 100
set = 1

[SERVICES]
sms_init = True
svc_init = True
sdu_init = True

[WATCH]
addr = 0.0.0.0
port = 1234

